BW_CLIENTID="my_client_id"
BW_CLIENTSECRET="my_client_secret"
BACKUP_DIR="$HOME/Backups/Bitwarden"
LOG_FILE="$HOME/Library/Logs/bw-backup.log"
MAX_ATTEMPTS=5
KEEP_LAST_N=3
# if you use a self hosted vault, enter your vault server here. If left blank default Bitwarden server will be used.
BW_SERVER=""
# Please set your own saftly phrase down below. This phrase will be shown when the tool prompts you for the master password.
# Do not provide your master password when this phrase is not present.
# SAFETY_PHRASE=
